* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: outfit;
  font-weight: 400;
}

@font-face {
  font-family: outfit;
  src: url("./assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
}
@font-face {
  font-family: young;
  src: url("./assets/fonts/young-serif/YoungSerif-Regular.ttf");
}

html {
  font-size: 62.5%;
}

body {
  background-color: hsl(30, 54%, 90%);
}

.container {
  width: 70rem;
  padding: 2.4rem;
  margin: 9.6rem auto;
  background-color: #fff;
  border-radius: 1.2rem;
}
.container img {
  width: 100%;
  border-radius: 1.2rem;
  margin-bottom: 1.8rem;
}

.heading {
  font-size: 3.6rem;
  font-family: young;
  margin-bottom: 1.4rem;
}

.omlette-about {
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 1.4rem;
}

.prep-time {
  background-color: hsl(330, 100%, 98%);
  padding: 2.4rem;
  font-size: 1.2rem;
  border-radius: 1.2rem;
}
.prep-head {
  color: hsl(332, 51%, 32%);
  font-weight: 700;
  margin-bottom: 1.2rem;
}

ul {
  list-style-position: inside;
  margin-left: 1.2rem;
}
.prep-time li {
  margin-bottom: 0.8rem;
}

.prep-time li:last-child {
  margin-bottom: 0;
}

.prep-time li {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.818);
}

.prep-time span {
  color: rgba(0, 0, 0, 0.931);
  font-weight: 500;
}

.prep-time {
  margin-bottom: 2.4rem;
}

.ing {
  margin-bottom: 2.4rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.151);
}

.head {
  font-family: young;
  font-size: 2.4rem;
  color: hsl(14, 45%, 36%);
  margin-bottom: 1.2rem;
}

.ing ul li {
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 1.2rem;
  font-size: 1.2rem;
}

.ing ul li:last-child {
  margin-bottom: 2.4rem;
}

.inst {
  font-size: 1.4rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.151);
  margin-bottom: 1.8rem;
}

.inst ol li {
  color: rgba(0, 0, 0, 0.63);
  list-style-position: inside;
  margin-left: 0.2rem;
  margin-bottom: 1.2rem;
}

.inst li::marker {
  color: hsl(332, 51%, 32%);
}

.inst span {
  color: rgba(0, 0, 0, 0.855);
  font-weight: 600;
}

.inst li:last-child {
  margin-bottom: 1.8rem;
}

.nutrition {
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.6);
}
.nutrition p {
  margin-bottom: 1.2rem;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

table tr {
  text-indent: 2.4rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.151);
}

tr:last-child {
  border: 0;
}

td:last-child {
  font-weight: 600;
  color: hsl(14, 45%, 36%);
}

td {
  padding-top: 0.8rem;
  padding-bottom: 1.2rem;
}
